.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-header {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #5c5c5c;
    word-spacing: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.column-header {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: darkgray;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 20px;
}

.list-group {
    padding-top: 30px;
}

.table {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
}

#mynavbar {
    background-color:bisque;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 22px;
}